/* Base Styles / Mobile View */

*	{box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}

body {
	margin: auto;
  max-width: 100%;
	padding: 1.5rem 0 1.5rem 0;
	background: #fafafa;
	font-family: 'Zilla Slab', serif;
	color: #4a4a69;
	text-align: center;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: bold;
}

h2 {
	padding-bottom: 1.5rem;
	text-transform: uppercase;
	font-size: 1rem;
}

h3 {
	font-weight: normal;
}

profile-image {
	max-width: 100%;
}

img		{
		max-width: 100%;
}

header {
	padding: 0 1rem 0 1rem;
}

nav ul {
	padding-left: 0;
	list-style: none;
}

nav li {
	margin-bottom: 6px;
	padding: 12px 0 12px 0;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

nav a {
	color: #4a4a69;
}

.bio {

	text-align: center;
}

.bio img {
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

#portfolio {
	padding: 2rem 1rem 2rem 1rem;
	background: #fff;

}

#contact {
	padding: 2rem 1rem 2rem 1rem;
}

#contact ul {
	padding-left: 0;
	list-style: none;
}

#contact li {
	margin-bottom: 1rem;
	font-weight: bold;
}

#contact li span {
	padding-right: 12px;
	font-weight: normal;
}

footer {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e7e7e7;
	font-size: .9rem;
	font-weight: bold;
}

.nav2 {
	display: none;
}

footer a {
	text-transform: uppercase;
}

/* Tablet View */

@media (min-width: 768px) {

	header {
		padding: 0 2rem 0 2rem;
	}

	nav header	{
		padding: 2rem 2rem 2rem 2rem;
	}

	nav ul {
		display: flex;
		justify-content: center;
	}

	nav li {
		flex-basis: 20%;
		background: transparent;
	}

	.bio {

		display: flex;
		padding: 2rem 1rem 2rem 1rem;
		flex-direction: row-reverse;
		justify-content: space-between;
		text-align: left;
		font-size: 1.25rem;
	}

	.bio p {
		width: 50%;
			margin-top: 6rem;
		padding: 2rem 1rem 2rem 1rem;

	}

	.bio img {
		margin: auto;
		padding: 2rem 1rem 2rem 1rem;
	}

	.image-container		{
										text-align: right;
										max-width: 450px;
										margin-top: 3rem;
	}

	#portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#portfolio h2 {
		flex-basis: 100%;
	}

	#portfolio section {
		flex-basis: 48%;
		padding-bottom: 2.5rem;
		padding-right: .5rem;
	}

	#portfolio section:nth-of-type(even) {
		padding-right: 0;
		padding-left: .5rem;
	}

	#contact p {
		width: 65%;
		margin: 0 auto;
		padding-bottom: 2rem;
	}
footer	{
	display: flex;
}
		.nav2 {
			display: block;
		}
		.nav2 li	{
			display: inline-block;
		}
		.top	{
				display: none;
		}


}



@media (min-width: 1024px) {

	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	nav header	{
		padding: 2rem 2rem 2rem 2rem;
	}

	header h1, nav {
		flex-basis: 50%;
	}

	header h1 {
		text-align: left;
	}

	nav ul {
		justify-content: flex-end;
	}

	.bio {
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
	}

	bio p	{
				max-width: 40%;
				padding-left: 0;
				margin-top: 6rem;
	}

	bio img
	{
		text-align: right;
	}

body	{

				display: flex;
				min-height: 100vh;
				flex-direction: column;
				width: 100vw;
				margin: 0 auto;
}

	#portfolio section, #portfolio section:nth-of-type(even) {
		flex-basis: 30%;
		padding-right: .5rem;
		padding-left: .5rem;
	}

nav2	{
	text-align: right;
	display: block;
	flex: 1;    /* same as flex-grow: 1; */
	}


nav2 ul {
	display: flex;
	padding-left: 0;
	list-style: none;
}

nav2 li {
	margin-bottom: 6px;
	padding: 12px 0 12px 0;
	background: #fff;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
}

/*help with the button and alignment of nav bar*/

}


/*Fix button issue------*/
<p><a href="#">Back to Top</a></p>
